.footer {
    background-color: #000;
    color: #fff; /* Set text color to white */
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons {
    margin-bottom: 20px;
}

.contact-info,
.quick-links,
.newsletter {
    flex: 1;
    margin: 0 10px;
}

.contact-info p,
.quick-links ul,
.newsletter form {
    margin-top: 10px;
}

.quick-links ul {
    list-style-type: none;
    padding: 0;
}

.quick-links ul li {
    margin-bottom: 5px;
}
