// Chat.scss

@include style-scrollbar();
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid green;

  .message-body {
    display: flex;
    flex-direction: column;

    .message {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid red;
      max-width: 70%; /* Adjust as needed */
    }

    .sent {
      align-self: flex-end;

      background-color: #dcf8c6;
    }

    .received {
      align-self: flex-start;

      background-color: #eaeaea;
    }

    .message-time {
      align-self: flex-end;
      color: #534e4e;
      margin-top: 5px;
    }

    .message-content {
      color: #000;
    }
  }
}

.chat-footer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.message-input {
  flex-grow: 1;
  font-size: 20px;
  padding: 1.2rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.sendBtn {
  cursor: pointer;
}

.auto-footer {
  display: flex;
  font-size: 1.2rem;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}

.EmptyChat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #000;

  h1{
    font-weight: bolder;
    color: azure;
  }

  img {
    max-width:  30%;
    height: 'auto';
    margin: 10%; 
  }
}
