.dropdown-container {
  color: black;
  text-transform: uppercase;

}

.options-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.2rem;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #ddd;
}

.selected-option {
  margin-top: 10px;
  color: white;
  text-align: center;

  &.auto {
    background-color: #4caf50; /* Green background for Auto */
  }

  &.manual {
    background-color: #f44336; /* Red background for Manual */
  }
}
