.chatheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #FFFFFF; /* WhatsApp header color */
  color: #fff; /* Text color */
  height: 12%;
  position: relative;
}

.profile-container {
  flex: 1;
  display: flex;
  justify-content: center; /* Center the avatar horizontally */
  align-items: center;
}

.profile {
  @include flex(row);
}
.profile-info {
  @include flex(row);

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .additional-info {
    display: flex;
    flex-direction: column;
  }
}

.action {
  display: flex;
  gap: 10px;
  font-size: 20px;
}

.action > * {
  cursor: pointer;
}
