.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Adjust margin as needed */
  }
  
  .hero-content {
    flex: 1;
  }
  
  .hero-image {
    flex: 1;
    text-align: center; /* Center the image */
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    animation: slide-in 1s ease; // Animation
  }
  

  @keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}