.login {
  display: flex;
  height: 100vh;

  > aside {

    @include sideLogo;


    // background-color: #f8d163;
  }

  > main {
    width: 65%;
    height: 100vh;
    @include flex(column);

    > form {
      @include form();

      button {
        @include button-style;
      }

      .password-input {
        position: relative;
        input {
          width: 100%;
          padding-right: 40px; /* Adjust padding to accommodate the button */
        }

        button {
          position: absolute;
          margin: 0%;
          top: 0.9%;
          right: 0%;
        }
      }
    }
  }
  .forgot-account {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;

    button {
      margin-left: 1.2rem;
      display: inline-block;
      @include button-style();
    }
  }
}
