
.root {
    position: relative;
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1e1e1e;
    overflow: hidden;
}

.rectangle7 {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(107.9deg, #040405ff 0%, #1e1e1eff 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.image1 {
    width: 70px;
    height: 30px;
    background-image: url('assets/icons/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frame1 {
    display: flex;
    gap: 20px;
}

.home, .about, .demo, .login {
    color: #fff;
    font-size: 2rem;
    font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    white-space: nowrap;
}

.ellipse2, .ellipse5, .ellipse4, .ellipse3, .ellipse1 {
    position: absolute;
    overflow: visible;
    filter: blur(100px);
}

.ellipse2 {
    left: -2%;
    top: 50%;
    width: 28%;
    height: auto;
}

.ellipse5 {
    left: -10%;
    top: 60%;
    width: 20%;
    height: auto;
}

.ellipse4 {
    left: 85%;
    top: 70%;
    width: 22%;
    height: auto;
}

.ellipse3 {
    left: 78%;
    top: 30%;
    width: 31%;
    height: auto;
}

.ellipse1 {
    left: -6%;
    top: 70%;
    width: 15%;
    height: auto;
}

.welcomeToKOL {
    color: #fff;
    font-size: 6rem;
    font-weight: bold;
    font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    position: absolute;
    left: 5%;
    top: 20%;
    white-space: nowrap;
}

.loremIpsumDolorSitAmetConsecte {
    color: #fff;
    font-size: 1.5rem;
    font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    position: absolute;
    left: 5%;
    top: 40%;
    width: 40%;
    height: auto;
}

.rectangle6 {
    position: absolute;
    left: 60%;
    top: 38%;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: fadeIn 1s ease-out;
}

.videoDemo {
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 840px) {
    .welcomeToKOL{
        font-size: 40px;
        top: 50px;
        left: 35px;
    }
    .loremIpsumDolorSitAmetConsecte{
        font-size: 15px;
        top: 450px;
        width: 90%;
    }
    .rectangle6{
        width: 90%;
        height: 20%;
        top: 200px;
        left: 18px;
    }
    .frame1 {
        gap: 10px;
    }

    .home, .about, .demo, .login {
        font-size: 20px;
    }
}

