.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.ellipse5, .ellipse4, .ellipse3 {
    position: absolute;
    overflow: visible;
}

.ellipse5 {
    left: -194px;
    top: 696px;
    width: 422px;
    height: 432px;
    filter: blur(100px);
}

.ellipse4 {
    left: 774px;
    top: 506px;
    width: 382px;
    height: 382px;
    filter: blur(125px);
}

.ellipse3 {
    left: 1052px;
    top: 353px;
    width: 424px;
    height: 424px;
    filter: blur(150px);
}

.icon, .icon2, .icon3 {
    width: 100%;
    height: 100%;
}

.rectangle8, .rectangle9 {
    position: absolute;
    border-radius: 15px;
}

.rectangle8 {
    width: 976px;
    height: 609px;
    background-color: #1f20219c;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.rectangle9 {
    width: 454px;
    height: 609px;
    background-color: #040405;
    mask-image: url('assets/maskGroup.svg');
    mask-repeat: no-repeat;
    mask-position: 0px 0px;
    mask-size: 454px 609px;
}

.image2 {
    position: absolute;
    width: 195px;
    height: 55px;
    top: 40%;
    left: 25%;
    background-image: url('assets/icons/logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.signIn {
    color: #fff;
    font-size: 80px;
    font-family: DM Sans, sans-serif;
    position: absolute;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    top: 0px;
    left: 500px;
}

.rectangle10, .rectangle102 {
    position: relative;
    width: 349px;
    height: 50px;
    outline: solid 1px #fff;
    outline-offset: -1px;
    border-radius: 5px;
    background-color: #fff0;
    color: #fff;
    padding-left: 12px;
    padding-top: 10px;
    font-size: 12px;
    transition: outline-color 0.7s ease;
    margin-top: 20px;
}

.rectangle10:focus, .rectangle102:focus {
    outline-color: deepskyblue;
}

.username, .password {
    color: #fff;
    font-size: 12px;
    font-family: DM Sans, sans-serif;
    position: absolute;
    width: min-content;
    height: min-content;
    white-space: nowrap;
}

.username {
    top: 180px;
    left: 10px;
}

.password {
    top: 300px;
    left: 10px;
}

.forgetPassword, .signUp {
    color: #fff;
    font-size: 12px;
    font-family: DM Sans, sans-serif;
    text-decoration: underline;
    position: absolute;
    width: min-content;
    height: min-content;
    white-space: nowrap;
}

.forgetPassword {
    top: 380px;
    left: 340px;
}

.signUp {
    top: 380px;
    left: 270px;
}

.rectangle12 {
    border: none;
    position: absolute;
    width: 349px;
    height: 50px;
    border-radius: 30px;
    background-color: #09a4e3;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    top: 450px;
}

.togglePassword {
    position: absolute;
    left: 305px;
    top: 310px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 840px) {
    .rectangle8 {
        width: 340px;
        height: 700px;
        margin: 1px 0px;
    }
    .rectangle9 {
        width: 100px;
        height: 100px;
        margin: 1px 0px;
    }
    .image2 {
        width: 50px;
        height: 40px;
        top: 30px;
        left: 25px;
        background-size: contain;
    }
    .signIn {
        font-size: 70px;
        top: 0px;
        left: 120px;
    }
    .rectangle10, .rectangle102 {
        top: 60px;
        left: -100px;
        width: 300px;
        height: 50px;
    }
    .rectangle12 {
        font-size: 20px;
        top: 550px;
        left: -100px;
        width: 300px;
        height: 50px;
    }
    .username {
        font-size: 12px;
        top: 215px;
        left: -85px;
    }
    .password {
        font-size: 12px;
        top: 320px;
        left: -85px;
    }
    .signUp {
        top: 420px;
        left: 30px;
    }
    .forgetPassword {
        top: 420px;
        left: 110px;
    }
    .togglePassword {
        top: 326px;
        left: 160px;
    }
}
